node_modules
*.swp
dist
public/3rdpartylicenses.txt
public/favicon.ico
public/index.test
public/main.js
public/main.js.map
public/polyfills.js
public/polyfills.js.map
public/runtime.js
public/runtime.js.map
public/styles.js
public/styles.js.map
public/vendor.js
public/vendor.js.map

