extends layout

block content
  h1 Enter data fragment name and associated data

  fieldset(style='border: thick red solid;')
    form(id='game_ratings' action='input_output' method='post')
      label(for='name')
        span Name
      input(name='name' id='name')
      br
      label(for='data')
        span Data
      textarea(name='data' id='data')
      br
      button(name='submit' type='submit' id='submit')
        span Submit

  fieldset(style='border: thick red solid;')
    button(type='button') View data fragments
  <app-root></app-root>

  include ../angular_script_tags.txt
